.logo_img img{
  width: 70%;
  height: auto;
}

.home-link img{
  width: 55%;
  height: 55%;
}

.summit_page img{
  width: 20%;
  height: 20%;
}

.home-link, .summit_page{
  color: #8f0014;
  font-size: 140%;
}
.home-link:hover{
  color: #e66432;
  text-decoration: none;
}

.carousel-item {
  height: 100vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#video_background {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.home_canvas {
  align-items: flex-start;
  min-height: 100vh;
  height: 100vh;
  width:100%;

  background: white;
  overflow: hidden;
}
canvas {
  position: absolute;
  top: 0;
  left: 0;
}

.canvas_out{
  background-color:rgba(255,255,255,0);
  width:80%;
  height:90%;
  position:absolute;
  left:10%;
  top:5%;
  margin:0;
  bottom: 0px;
  overflow: hidden;
}

.name_font{
  font-size: 800%;
}
.name_inline{
  display:inline;
}
.name_one{
  color: #8f0014;
}
.name_two{
  color: #707070;
}

.white_background{
  background-color: white;
}

.c_background{
  background-color: seagreen;
}

#typed, .typing{
  color:#8f0014;
  font-size: 2.5vw;

}
.ti-cursor {
  font-size: 2.5vw;
  color: #707070 !important;
}

.icon_center{
  margin: auto;
}

.sharp {
  border-radius:0;
  border: 3px solid black;
  background-color: #e66432;
  color: white;
  width: 10%;
  height: 5%;
  font-size: 200%;

}


.card-deck, a:hover{
  color: #e66432 ;
}

.carousel-caption {
  top: 45%;
  bottom: auto;
}

.carousel-indicators li { visibility: hidden; }


.team-item img{
  height: 200px;
  width: 200px;
}


.team-link {
    position: relative;
    display: inline-block;
}


.team-link:hover .external_link {
    display: block;
}


.imageBox {
   position: relative;
   float: left;
 }

 .hoverImg {
   position: relative;
 }

 .imageBox .hoverImg {
   position: absolute;
   left: 0;
   top: 0;
   display: none;
 }

 #about{
   padding: 0;
 }
 .imageBox:hover .hoverImg {
   display: block;
 }

 .imageBox:hover .external_link {
   display: block;
   opacity: 1;
 }

 .external_link {
     position: absolute;
     left: 45%;
     bottom: 0%;
 }

 .external_link{
     opacity: 0;
     font-size: 20px;
     color: #e66432;
 }



.advisors-item img{
  height: 150px;
  width: 150px;
}

.icon-twitter {
  color: #55ACEE;
}
.icon-medium {
  color: black;
}

.icon-orange {
  color: #e66432;
}

.icon-red {
  color: #8f0014;
}

.icon-gray {
  color: #888888;
}

.icon_white{
  color: white;
}

.datamaps-legend{
  position: static;
  font-size: 50px;
}

.map_container iframe{
  width: 800px;
  height: 500px;
  margin: 0 auto;
  display: block;
}


.team_overlay{
  background-color: rgba(255, 255, 255, .9);
}


a{
  color: #e66432;
}

a:hover{
  color: #8f0014;
  text-decoration: none;
}

.blog_img{
  padding-bottom: 5px;
}

.categories_invest i{
  padding: 1vw 2vw;
}

.categories_invest p{
  color: black;
  font-size: 1.3vw;
  font-family: 'Oxygen', sans-serif;
  padding-top: .5vw;
}

.stage {
  width: 40vw;
}

.analysis {
  width: 25vw;
}


.card-img-top {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}

.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 60%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px);
  }
  60% {
    transform: translateY(-15px);
  }
}

.card-1 {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card-1:hover {
  box-shadow: 0 5px 24px rgba(0,0,0,0.25), 0 5px 5px rgba(0,0,0,0.22);
}


.ohnoformname{
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 0;
    width: 0;
    z-index: -1;
}


/*// Extra small devices (landscape phones, 576px and below)*/
  @media (min-width: 0px) and (max-width: 576px) {
    .home-link img{
      width: 40%;
      height: 40%;
    }
    .home-link{
      font-size: 100%;
    }
    .home_nav{
      width: 50% !important;

    }

    #typed,.typing, .ti-cursor {
      font-size: 4vw;
    }
    .stage {
      width: 80vw;
    }
    .analysis {
      width: 60vw;
    }
    .logo_img img {
      width: 90%;
      height: auto;
    }
    .summit_page img{
      width: 50%;
      height: 50%;
    }


  }


  /*// Small devices (landscape phones, 576px and up)*/
  @media (min-width: 576px) and (max-width: 767px) {
    .advisors-item img{
      height: 50px;
      width: 50px;
    }
    .map_container iframe{
      width: 100%;
      height: 150px;
      margin: 0 auto;
      display: block;
    }
    #typed, .typing, .ti-cursor {
      font-size: 4vw;
    }
    .stage {
      width: 80vw;
      /*height: 100vw*/
    }

    .analysis {
      width: 60vw;
      /*height: 100vw*/
    }

  }

  /*// Medium devices (tablets, 768px and up)*/
  @media (min-width: 768px) and (max-width: 990px) { 

   .map_container iframe{
    width: 100%;
    height: 300px;
    margin: 0 auto;
    display: block;
  }
  .categories_invest p{
    font-size: 1vw;
  }

  .analysis {
    width: 40vw;
    /*height: 100vw*/
  }
  .home-link img{
  width: 75%;
  height: 75%;
}
}


/*// Large devices (desktops, 992px and up)*/
/*@media (max-width: 991px) {

  .categories_invest p{
    font-size: 1.8vw;
  }
    .home-link img{
  width: 75%;
  height: 75%;
}

}*/

/*// Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 
  .container-size{
    max-width: 1000px;
    margin-left: 20%;
  }
  .map_container iframe{
    width: 800px;
    height: 500px;
    margin: 0 auto;
    display: block;
  }

  .home-link img{
  width: 75%;
  height: 75%;
}
}


